.sidebar{
    flex: 3;
    padding: 0 19px;

}
.sidebar .area{
    padding: 11px;
    border: solid 1px #231f20;
    border-radius: 11px;
    margin-bottom: 29px;
}
.sidebar h3{
    width: 100%;
    font-family: "Pacifico", cursive;
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    position: relative;
}
.sidebar h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 47%;
    height: 2px;
    background-color: #00120b;
   
}

.sidebar img{
    padding: 5px;
    border-radius: 13px;
}
.sidebar .categories{
    width: 100%;
display: flex;
flex-wrap: wrap;
gap: 9px;
}
.sidebar .categories span{
display: block;
width: calc(50% - 9px);
font-family: "Arvo", serif;
cursor: pointer;
background-color: rgba(0, 0, 0, 0.03);
padding: 2px;
border-radius: 3px;
}
.sidebar a{
    display: block;
    text-decoration: none;
    padding: 3px;
    margin-bottom: 11px;
    font-family: "Josefin Sans", sans-serif;
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}
.sidebar a:nth-child(2n + 1) {
 
    background-color: rgba(0, 0, 0, 0.09);
}
/* ?scroll anmation */
.sidebar .area{
    transform: translateX(-19px);
    opacity: 0;
    transition: all 0.5s;
}
.sidebar .area.active{
    transform: translateX(0px);
    opacity: 1;
}